<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="img/icon.png">
        <script src="js/jquery-3.6.0.js"></script>
        <script src="js/home.js"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>header}}
        <input type="text" id="city">
        <button id="search">Search</button>
        <p id="weather"></p>
        {{>footer}}
    </body>
</html>